# .gitignore del repo de ghdl_tutorial_repo

*.o
sources/mcd_machine/tb_mcd_machine
*.cf
.DS_Store
*/.DS_Store
CVS_MCD_block
ApuntesChris.md
sources/mcd_machine/vunit_out/
GtkWave/
myTests/
cocotb/mcd_machine